@media (max-width: 900px) {
    .snippet-drawer{
    visibility: "hidden";
    height: 0 !important;
    width: 0 !important;
    overflow: "hidden";
    }
  }

.snippet-drawer {
    width: 310px;
}
.snippet-drawer__search-curr-displaying-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
}