@media (max-width: 900px) {
    .navigation-drawer-hidden{
    visibility: "hidden";
    height: 0 !important;
    width: 0 !important;
    overflow: "hidden";
    }
  }

.navigation-drawer {
    width: 310px;
}

.navigation-drawer__new-snippet-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px;
    padding-bottom: 27px;
}